        # API Configuration
        PROJECT_NAME="Bibliotheca Chatbot API"
        DEBUG=true 
        LOG_LEVEL=DEBUG

        # CORS
        CORS_ORIGINS=["*"] 

        # Database Connections
        DATABASE_URLS="report_management=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/report_management,chat_management=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/chat_management"
        VALIDATE_SCHEMA_ON_STARTUP=true

        # Azure OpenAI Configuration
        AZURE_OPENAI_API_KEY=<AZURE_OPENAI_API_KEY>
        AZURE_OPENAI_ENDPOINT=<AZURE_OPENAI_ENDPOINT>
        AZURE_OPENAI_API_VERSION=2024-12-01-preview
        AZURE_OPENAI_DEPLOYMENT_NAME=<DEPLOYMENT_NAME>

        # LLM Configuration
        LLM_MODEL_NAME=gpt-4o-mini
        VERBOSE_LLM=true 
        LANGCHAIN_DEBUG=true 

        JWT_ALGORITHM=RS256
        JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAz76bGbZtG3QQWfYO8q2qal2Pe+JWyF+WBkXdH+3XnysxMz9Xqt6lTOAnbCGOvRS50fVisYDVuNqXa6AuD1wn7TjLgPpRg85yb95KN+kZ3UBTFaQUU8s4Kk4y68ng0xztx+nTl2wcwgORXdgbaTfyGS5vtqSzCVa6BIn5iwrRV2q57CvlULjakwHpF4xrC+XNpg1tzWPQ5WhXNaBy96ksVDCoHlqH0SOPMgR2LgRmzQT7HHtN/iTBlasruVTfxSqDjaxSsowZ70KgbRnaDJwcUlTNb8t0mtm47HEjRH3SFEncQkiUL6J0dR4AAMR8yzhJ2RAGzNahx4/WbBHny1r0+QIDAQAB\n-----END PUBLIC KEY-----"

